
/* classes to mark search engine specific sections */
.solr {
  display: none;
}
.elasticsearch {
  display: none;
}

.se-select {}

.se-tab {
  display:table-cell;
  border-width:thin;
  padding:4px;
}
.se-tab-deselected {
  cursor: default;
  border-style:solid;
  border-color:#ffffff;
  color:#444444;
  background-color:#cccccc;
}

.se-tab-selected {
  cursor: default;
  border-style:dotted;
  background-color:#444444;
  color:#cccccc;
  cursor: none;
}

.se-tab-solr {


}
.se-tab-elasticsearch {}
